#avatar {
    height: auto !important;
}
.process {
    background: inherit !important;
    padding: 0px !important;
    border-style: none !important;
    border-color: inherit !important;
    border-width: 0px !important;
}

body {
  font-size: 18px !important;
}

.backgroung-image {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -11111;
  width: 100%;
  overflow: hidden;
}

.backgroung-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: none;
  max-width: none;
  z-index: -999999;
}

#container {
}

.highlight {
  font-size: 18px !important;
}

.page-number {
  color: #856f6f;
}
.widget-wrap {
  background: #f5f8f9;
}

.widget-title {
  padding: 20px 0 0 20px
}
.logo {
  background-size: 89px 40px !important;
  width: 89px !important;
  height: 40px !important;
}

.layout-wrap {
  background: #f5f8f9 !important;
}
